{% extends 'base.html.twig' %}


{% block title %}Perfil de Usuario{% endblock %}


{% block body %}
<div class="card" style="max-width:500px;margin:auto;">
<h2>Mi Perfil</h2>
<p><strong>Nombre:</strong> {{ usuario.nombre }} {{ usuario.apellido }}</p>
<p><strong>Email:</strong> {{ usuario.email }}</p>
<p>
  <strong>Estado: </strong>
  {% if usuario.estado %}
      ✅ Verificado
  {% else %}
      ⏳ Pendiente de verificación por un administrador
  {% endif %}
</p>
<p><strong>Tipo:</strong> {{ usuario.tipo }}</p>
</div>
<h3>Mis reservas activas</h3>

{% if reservas is empty %}
    <p>No tenés reservas activas.</p>
{% else %}
    <ul>
        {% for reserva in reservas %}
            <li>
                <strong>{{ reserva.libro.titulo }}</strong>  
                (desde {{ reserva.fechaInicio|date('d/m/Y') }} hasta {{ reserva.fechaFin|date('d/m/Y') }})
                - Estado: {{ reserva.estado }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

