{% extends 'base.html.twig' %}

{% block title %}Reservas rechazadas{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>❌ Reservas rechazadas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Libro</th>
                <th>Socio</th>
                <th>Fecha inicio</th>
                <th>Fecha rechazo</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.libro.titulo }}</td>
                    <td>{{ reserva.socio.nombre }} {{ reserva.socio.apellido }}</td>
                    <td>{{ reserva.fechaInicio|date('d/m/Y') }}</td>
                    <td>{{ reserva.fechaFin|date('d/m/Y') }}</td>
                </tr>
            {% else %}
                {% include 'components/_table_empty.html.twig' with { colspan: 4, message: 'No hay reservas rechazadas.' } %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
